{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}


{% block body %}
<h2>About</h2>
<br>
<div>
    <div class="bg-light p-4 rounded">
        <div class="col-sm-12 mx-auto">
            <h3>🧠 About the Project</h3>
            <h5>Regression Model for House Prices Prediction</h5>
            <hr>
            <p>

                This project was developed as a practical, end-to-end exercise during the Udemy Machine Learning
                Diploma. It focuses on building a complete regression pipeline—from raw data to deployment—while
                applying industry-standard data science practices.

                The core objective is to predict house prices using a variety of regression models, and to evaluate and
                compare their performance to identify the most effective one.

                Throughout the project, key machine learning and data science concepts were put into action, including:

                <li>Exploratory Data Analysis (EDA)</li>

                <li>Data Visualization</li>

                <li>Feature Engineering</li>

                <li>Data Preprocessing</li>

                <li>Regression Model Implementation</li>

                <li>Hyperparameter Tuning</li>

                <li>Model Deployment on Heroku</li>
                <br><br>
                This project demonstrates the full lifecycle of a machine learning solution, showcasing both technical
                skills and practical understanding of real-world ML workflows.
                <br>

                <a href="https://www.udemy.com/course/full-machine-learning-projects/">End-to-End Data Science
                    Project</a>
            </p>



        </div>
    </div>
</div>

{% endblock %}